
@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1 style="color: white;">@ViewData["Title"]</h1>
<br /><hr style="color: white; height: 2px;" /><br />
<div style="background-color: white; padding: 50px; border-radius: 10px; opacity: 0.9;">
<p style="column-count: 3; font-size: 2vh; color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis scelerisque erat non cursus. Donec sollicitudin pellentesque consequat. Sed vestibulum augue et est fringilla, non laoreet augue gravida. Donec ac ultricies elit, id consectetur neque. Aliquam dignissim dolor in nulla imperdiet, posuere porta lorem iaculis. Fusce feugiat nisl sit amet tellus molestie tempor. Nam arcu turpis, varius ac neque quis, dapibus venenatis risus. Donec dapibus vitae sem sit amet facilisis. Pellentesque sagittis tristique. Ligula, ac suscipit metus molestie vitae.

Pellentesque ac quam et justo feugiat blandit nec posuere risus. Nam porta risus nec pellentesque rhoncus. Curabitur vel mauris venenatis ex consequat faucibus sit amet mattis elit. Vestibulum in elementum leo, eget volutpat nulla. Duis porta mi ligula, ac pellentesque dui tincidunt at. Duis elementum leo nulla, a facilisis neque tempus eu. Nam vestibulum ut nisi eget fringilla. Cras vestibulum mauris id libero vulputate, a vestibulum ipsum bibendum curabitur. Porttitor dui tellus, eu posuere dolor consectetur a. Duis pretium diam purus, vel volutpat purus ornare ac. Vivamus maximus nisl ac cursus vulputate. Vestibulum vitae ligula tincidunt, tempor diam ut, auctor ex. Quisque vitae nunc risus. Aenean porttitor, neque sed condimentum luctus, ex quam pretium ex, et dictum massa nibh ac quam. Nulla eget nunc in ante mattis varius ac tincidunt tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>