<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/21556d1c-2ac5-4e6c-bb61-f01c3679086c/resourcegroups/projectpch/providers/Microsoft.Web/sites/MvcProject220230123130930</ResourceId>
    <ResourceGroup>projectpch</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mvcproject220230123130930.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>71e814b9-974e-4cb9-a96f-a28aa929493c</ProjectGuid>
    <PublishUrl>https://mvcproject220230123130930.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MvcProject220230123130930</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>